.container {
  display: flex;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  justify-content: center;
}
h2 {
  color: green;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 150px;
  border: 2px solid green;
  border-radius: 8px;
}
